{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Home</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/shop.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="footer">
        <div class="footer-wrapper">
            <div class="links">
                <div class="links-box">
                    <div class="links-box1">
                        <h3 class="link-head">Quick Links</h3>
                        <ul>
                            <li><a href="">Home</a></li>
                            <li><a href="#">My Orders</a></li>
                            <li><a href="#">My Cart</a></li>
                            <li><a href="#">My Wishlist</a></li>
                        </ul>
                    </div>
                </div>
                <div class="links-box">
                    <div class="links-box1">
                        <h3 class="link-head">Informations</h3>
                        <ul>
                            <li><a href="#">Shipping Policy</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms and Conditions</a></li>
                        </ul>
                    </div>
                </div>
                <div class="links-box">
                    <div class="links-box1">
                        <h3 class="link-head">Useful Links</h3>
                        <ul>
                            <li><a href="#">Register as Seller</a></li>
                            <li><a href="#">Register as Farmer</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="/contactus">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="links-box">
                    <div class="links-box1">
                        <h3 class="link-head">Our Address:</h3>
                        <p>H-24, 123/543</p>
                        <p>WJEUADBAJUED</p>
                        <p>United States</p>
                        <p>Pin: 90001</p>
                    </div>
                </div>
                <p class="copyright">All Rights Reserved ©2020 farmplace.com</p>
            </div>
        </div>
    </div>
</body>

</html>