{%load static%}
<html lang="en">

<head>
    <title>Home</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<div class="row  bg-info footer text-center text-xs-center justify-content-center">
    <div class="col-xs-12 col-sm-4 col-md-4">
        <h5>Quick links</h5>
        <ul class="list-unstyled quick-links">
            <li><a href=""><i class=""></i>Home</a>
            </li>
            <li><a href=""><i class=""></i>About</a>
            </li>
            <li><a href=""><i class=""></i>FAQ</a>
            </li>
            <li><a href=""><i class=""></i>Get
                Started</a></li>
            <li><a href=""><i class=""></i>Videos</a>
            </li>
        </ul>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4">
        <h5>Useful links</h5>
        <ul class="list-unstyled quick-links">
            <li><a href=""><i class=""></i>Home</a>
            </li>
            <li><a href=""><i class=""></i>About</a>
            </li>
            <li><a href=""><i class=""></i>FAQ</a>
            </li>
            <li><a href=""><i class=""></i>Get
                Started</a></li>
            <li><a href=""><i class=""></i>Videos</a>
            </li>
        </ul>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4">
        <h5>Our Address</h5>
        <p>H-24, 123/543</p>
        <p>JABEDEWHUIJSD</p>
        <p>United States</p>
        <p>Pin: 90001</p>
        <p>Indresh Maurya</p>
    </div>
</div>
</body>

</html>