{% include 'header.html' %}
<div class="container">
    <div class="pro-box">
        <form>
            {% csrf_token %}
            {% if user.is_authenticated %}
            <img src="{{request.user.userprofile.profile_pic.url}}" height="50" width="50"><br>
            <label for="username">Username: </label>
            <output type="text">{{user.username}}</output><br>
            <label for="first_name">First name: </label>
            <output type="text">{{user.first_name}}</output><br>
            <label for="last_name">Last name: </label>
            <output type="text">{{user.last_name}}</output><br>
            {% for d in data %}
            <label for="phone_num">Phone: </label>
            <output type="text">{{d.phone_num}}</output><br>
            <label for="age">Age: </label>
            <output type="text">{{d.age}}</output><br>
            {% endfor %}
            <label for="email">E-mail: </label>
            <output type="text">{{user.email}}</output><br><br><br>
            {% endif %}
            <a id="farm-button" href="/editprofile">Edit Profile</a>
        </form>
    </div>
</div>
{% include 'footer.html' %}