{% include 'header.html' %}
<div class="container">
    {%for message in messages%}
    <div class="message alert alert-success alert-dismissible fade show" role="alert">
        <strong>{{ message}}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {%endfor%}
    <div class="pro-box">
        <a class="submit-btn btn btn-info btn-md" href="/editprofile">Edit Profile</a>
        <form>
            {% csrf_token %}
            {% if user.is_authenticated %}
            <img src="{{request.user.userprofile.profile_pic.url}}" height="80" width="80"><br>
            <label for="username">Username: </label>
            <output type="text">{{user.username}}</output>
            <br>
            <label for="first_name">Name: </label>
            <output type="text">{{user.first_name}}</output>
            <br>
            {% for d in data %}
            <label for="phone_num">Phone: </label>
            <output type="text">{{d.phone_num}}</output>
            <br>
            <label for="age">Age: </label>
            <output type="text">{{d.age}}</output>
            <br>
            {% endfor %}
            <label for="email">E-mail: </label>
            <output type="text">{{user.email}}</output>
            <br><br><br>
            {% endif %}
        </form>
    </div>
</div>
{% include 'footer.html' %}