* {
    margin: 0;
}

html, body {
    height: 100%;
    background-color: #c6d3da !important;
    margin: 0 !important;
}

header {
    height: 20%;
    width: 100%;
}

.container {
    min-height: 60%;
}

.footer {
    min-height: 30%;
}

section div ul li a {
    color: rgba(255, 255, 255, .5) !important;
}

section div p {
    color: rgba(255, 255, 255, .5) !important;
    margin-bottom: 1px !important;
}

section div ul li a:hover {
    text-decoration: none;
    color: rgb(16, 55, 165) !important;
}

.login-box {
    border: 1px dashed #9C9C9C;
    border-radius: 10px;
    margin: 50px 0 50px 0;
    padding: 10px;
    height: 290px;
}

.reg-box {
    border: 1px dashed #9C9C9C;
    border-radius: 10px;
    margin: 40px 0 40px 0;
    padding: 10px;
    height: 480px;
}

.remember-me {
    display: inline-block;
    margin-left: 25px;
    margin-top: 10px;
}

.submit-btn {
    float: right;
}

.form-group {
    margin-bottom: 0rem !important;
}