section div ul li a {
    color: #fff !important;
}

section div p {
    color: #fff !important;
    margin-bottom: 1px !important;
}

section div ul li a:hover { 
    text-decoration: none;
    color: rgb(16, 55, 165) !important;
}