/* - - - - - - - - - - - - - - - - - - - - Universal css - - - - - - - - - - - - - - - - - - - -  */

* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: #f7f7f7 !important;
    font-family: "Lucida Grande";
}

.container {
    min-height: 70vh;
}

.breadcrumb {
    background-color: #f7f7f7 !important;
    padding: 0 !important;
}

.message {
    margin-top: 10px;
    text-align: center;
}

.submit-btn {
    float: right;
}

.white {
    color: white !important;
}


/* - - - - - - - - - - - - - - - - - - - - Header css - - - - - - - - - - - - - - - - - - - -  */

.nav-bar {
    background-color: red;
    height: 70px;
}

@media screen and (max-width: 600px) {
    .nav-bar {
        height: 50px !important;
    }
}

.logo .logo-img {
    height: 70px;
    width: 200px;
    margin-left: 15px;
}

@media screen and (max-width: 600px) {
    .logo-img {
        height: 40px;
        width: 40px;
    }
}

.nav-link {
    display: inline-block !important;
}

.link {
    font-size: 15px;
    margin: 10px 10px 0 5px;
    color: white;
}

.drop-link {
    font-size: 15px;
    margin: 10px 10px 15px 10px;
    color: white;
}

@media screen and (max-width: 600px) {
    .drop-link, .link {
        margin: 0;
    }
}

@media screen and (max-width: 600px) {
    .drop {
        display: block !important;
    }
}

.link:hover, .drop-link:hover {
    color: #e1ffab;
}

.topnav {
    margin-left: 10%;
    height: 67px;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .topnav a.nav-link {
        display: none !important;
    }

    .topnav a.icon {
        float: right;
        display: block;
        font-size: 30px;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 7px;
    }

    .topnav.responsive a {
        float: none;
        display: block !important;
        text-align: left;
        background-color: #333;
    }

    .dropdown-item {
        background-color: white !important;
    }
}


/* - - - - - - - - - - - - - - - - - - - - Homepage css - - - - - - - - - - - - - - - - - - - -  */

.carousel-inner img {
    width: 100%;
    height: 550px;
}

@media screen and (max-width: 600px) {
    .carousel-inner img {
        width: 100%;
        height: 250px !important;
    }
}

.pr {
    padding: 20px;
    border-radius: 50%;
}

.quote {
    border-bottom: 1px solid black;
    font-size: 18px;
    padding-bottom: 50px;
    color: black;
}

/* - - - - - - - - - - - - - - - - - - - Login-register css - - - - - - - - - - - - - - - - - - -  */

.login-box, .reg-box {
    margin-bottom: 50px;
}

.remember-me {
    display: inline-block;
    margin-left: 25px;
    margin-top: 10px;
}

.form-group {
    margin-bottom: 0rem !important;
}

.tnc {
    margin-top: 15px;
}

/* - - - - - - - - - - - - - - - - - - - Profile-editprofile css - - - - - - - - - - - - - - - - - - -  */

.profile-box {
    padding: 15px !important;
    margin-bottom: 40px;
}

.dp {
    border-radius: 50%;
}

.pro-head {
    padding-bottom: 30px !important;
}


/* - - - - - - - - - - - - - - - - - - - Footer css - - - - - - - - - - - - - - - - - - - - - -  */

.footer {
    width: 100%;
    margin-left: 0 !important;
    padding-left: 15%;
    background-color: slategrey;
}

@media screen and (max-width: 600px) {
    .footer {
        padding-left: 0;
    }
}

.quick-links {
    margin-bottom: 0;
    margin-top: 20px;
}

.footer-link {
    color: white !important;
    text-decoration: none;
}

.footer p {
    color: white;
}

.footer-link:hover {
    color: darkgreen !important;
    text-decoration: none !important;
}

.copyright {
    font-size: 10px;
    padding-bottom: 2px;
    background-color: slategrey;
}


/* - - - - - - - - - - - - - - - - - - - Projectspage css - - - - - - - - - - - - - - - - - - - - - -  */

.project-block {
    padding-top: 15px;
    margin: 5px;
    width: 300px;
    height: 315px !important;
    max-width: 24% !important;
}

@media screen and (max-width: 600px) {
    .project-block {
        max-width: unset !important;
        margin: 15px;
    }
}

.Card-image {
    width: 150px;
    height: 200px;
}

.project-title {
    white-space: nowrap;
    width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 10px;
}

.pagination {
    margin-top: 15px;
}


/* - - - - - - - - - - - - - - - - - - - Project css - - - - - - - - - - - - - - - - - - - - - -  */

.p-desc .b-desc {
    margin-top: 15px;
    color: black !important;
}

.img-detail {
    margin-bottom: 30px;
}

@media screen and (max-width: 600px) {
    .p-detail {
        margin: 13px;
    }
}


/* - - - - - - - - - - - - - - - - - - - Category css - - - - - - - - - - - - - - - - - - - - - -  */

.project-wrapper {
    width: 100%;
    height: auto;
    margin: 50px 0 50px 0;
}

.cat-img {
    width: 100%;
    height: 450px;
}

#id_Project_Category {
    margin-top: 15px;
}


/* - - - - - - - - - - - - - - - - - - - Announcement page css - - - - - - - - - - - - - - - - -  */

.label-danger {
    background-color: #d9534f;
}

.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}