{% include 'djlogin/header.html' %}
{%load static%}
<div class="container pt-3">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="#">User</a></li>
            <li class="breadcrumb-item active" aria-current="page">Login</li>
        </ol>
    </nav>
    {%for message in messages%}
    <div class="message alert alert-success alert-dismissible fade show" role="alert">
        <strong>{{ message}}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {%endfor%}
    <div id="login-row" class="row justify-content-center align-items-center">
        <div class="col-md-4">
            <div class="login-box">
                <form id="login-form" class="form" action="" method="post">
                    {% csrf_token %}
                    <h3 class="text-center text-info">Login Here</h3>
                    <div class="form-group">
                        <label class="text-info">Username:test</label><br>
                        <input type="text" name="username" placeholder="Username" class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="text-info">Password:12345</label><br>
                        <input type="text" name="password" placeholder="Password" class="form-control">
                    </div>
                    <div class="form-group">
                        <div class="remember-me">
                            <label class="text-info"><span>Remember me</span>
                                <span><input id="remember-me" name="remember-me" type="checkbox"></span></label>
                        </div>
                        <div id="register-link" class="text-right remember-me">
                            <a href="/user/register" class="text-info">Register here</a>
                        </div>
                    </div>
                    <div class="submit-btn">
                        <input type="submit" name="submit" class="btn btn-info btn-md" value="submit">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% include 'djlogin/footer.html' %}