{% include 'djlogin/header.html' %}
<div class="container pt-3 pb-3">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="#">User</a></li>
            <li class="breadcrumb-item active" aria-current="page">Profile</li>
        </ol>
    </nav>
    {%for message in messages%}
    <div class="message alert alert-success alert-dismissible fade show" role="alert">
        <strong>{{ message}}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {%endfor%}
    <div class="row pro-box">
        <div class="col-2" style="height: 400px"></div>
        <div class="col-8" style="height: 400px">
            <a class="submit-btn btn btn-info btn-md" href="/editprofile">Edit Profile</a>
            <form>
                {% csrf_token %}
                {% if user.is_authenticated %}
                <img src="{{request.user.userprofile.profile_pic.url}}" height="80" width="80"><br>
                <label for="username">Username: </label>
                <output type="text">{{user.username}}</output>
                <br>
                <label for="first_name">Name: </label>
                <output type="text">{{user.first_name}}</output>
                <br>
                {% for d in data %}
                <label for="phone_num">Phone: </label>
                <output type="text">{{d.phone_num}}</output>
                <br>
                <label for="age">Age: </label>
                <output type="text">{{d.age}}</output>
                <br>
                {% endfor %}
                <label for="email">E-mail: </label>
                <output type="text">{{user.email}}</output>
                <br><br><br>
                {% endif %}
            </form>
        </div>
        <div class="col-2" style="height: 400px"></div>
    </div>
</div>
{% include 'djlogin/footer.html' %}