{% include 'main/header.html' %}
<div class="container pt-3 pb-3">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Projects</li>
        </ol>
    </nav>
    <!-- Search Start -->
    <div class="jumbotron border shadow">
        <div class="row">
            <div class="col-md-8 offset-2">
                <form>
                    <div class="input-group">
                        <input name="key" type="text" placeholder="{{ placeholder }}" class="form-control form-control-lg" />
                        <div class="input-group-append">
                            <button class="btn btn-dark btn-lg">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- End Search -->
    {%for message in messages%}
    <div class="message alert alert-danger alert-dismissible fade show" role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {%endfor%}
    <div class="row">
        {% for project in projects %}
        <div class="card img-fluid col-sm-4 project-block shadow-lg">
            <img class="card-img-top Card-image" src="{{project.Project_Image.url}}" alt="Card image" style="width:100%">
            <h4 class="project-title">{{project.Project_Name}}</h4>
            <a href="project/{{project.id}}" class="btn btn-info btn-md">DETAILS</a>
        </div>
        {% endfor %}
    </div>
    <ul class="pagination justify-content-center">
        <li class="page-item"><a class="page-link" href="javascript:void(0);">Previous</a></li>
        <li class="page-item active"><a class="page-link" href="javascript:void(0);">1</a></li>
        <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
        <li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
        <li class="page-item"><a class="page-link" href="javascript:void(0);">Next</a></li>
    </ul>
</div>
{% include 'main/footer.html' %}