{% include 'djlogin/header.html' %}
<div class="container pt-3">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Projects</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{proj.Project_Name}}</li>
        </ol>
    </nav>
    <div class="row img-detail">
        <div class="col-sm-6">
            <div class="p-video">
                <video width="520" height="240" controls>
                    <source src="{{proj.Project_Video_url}}" type="video/mp4">
                </video>
            </div>
        </div>
        <div class="col-sm-6 details">
            <div>Project ID:{{proj.id}}</div>
            <div>Category:{{proj.Project_Category}}</div>
            <div>Title:{{proj.Project_Name}}</div>
            <div>By:{{proj.Student_Name}}</div>
            <div>Mentor:{{proj.Mentor_Name}}</div>
        </div>
    </div>
    <div class="col-sm-12">
        <h3>Project Description</h3>
        <p class="p-description">{{proj.Project_Description}}</p>
    </div>
</div>
{% include 'djlogin/footer.html' %}