{% include 'main/header.html' %}
<div class="container pt-3 pb-3">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Anouncement</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{anounce.title}}</li>
        </ol>
    </nav>
    <h6>{{anounce.title}}</h6>
    <p>{{anounce.date_ceated}}</p>
    <p>{{anounce.description}}</p>
</div>
{% include 'main/footer.html' %}