{% extends 'main/base.html' %}
{% block content %}
<title>Anouncements</title>
<div class="container pt-3 pb-3">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Anouncements</li>
        </ol>
    </nav>
    <div class="table-responsive">
        <h1 class="text-center">Announcements</h1>
        {% for announcement in announcements %}
        <a href="announcement/{{announcement.id}}"><strong>{{announcement.title}} </strong><span class="label label-danger">New</span></a>
        <br><span><i class="fa fa-calendar" aria-hidden="true"></i></span> {{announcement.date_created}}
        <p>{{announcement.description|truncatechars:500 |safe}}</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
