{%load static%}
<html lang="en">

<head>
    <title>Home</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<div class="row footer text-left text-xs-center justify-content-center">
    <div class="col-md-4">
        <ul class="list-unstyled">
            <li>
                <div class="footer-logo">
                    <ul class="list-unstyled">
                        <li><div class="logo-upi"><img src="{% static 'assets/logo-upi.png'%}" style="vertical-align:middle;margin:0px 0px 0px 80px"></div></li>
                        <li><img src="{% static 'assets/FPMIPA.png'%}" ></li>
                    </ul>
                </div>
            </li>
            <li>
                <p class="footer-address">Faculty of Matematics and Science Education</p>
                <p class="footer-address">Universitas Pendidikan Indonesia</p>
            </li>
            <li>

            </li>
        </ul>
    </div>

    <div class="col-xs-12 col-sm-4 col-md-4 quick-links">
        <h5>Our Address</h5>
        <p class="footer-address">JICA Building</p>
        <p class="footer-address">FPMIPA Universitas Pendidikan Indonesia</p>
        <p class="footer-address">Setiabudi Street 229 Bandung</p>
        <p class="footer-address">West Java, Indonesia</p>
    </div>
    <div class="quick-links">
        <h5>Useful links</h5>
        <ul class="list-unstyled">
            <li><a href="https://www.upi.edu/" class="footer-link">UPI</a>
            </li>
            <li><a href="http://fpmipa.upi.edu/" class="footer-link">FPMIPA</a>
            </li>
        </ul>
    </div>

</div>
<p class="copyright desc text-center">Copyright © 2021 FPMIPA UPI.</p>
</body>

</html>
