{% include 'djlogin/header.html' %}
<div class="container pt-3 pb-3">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Contact Us</li>
        </ol>
    </nav>
    {%for message in messages%}
    <div class="message alert alert-success alert-dismissible fade show" role="alert">
        <strong>{{ message}}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {%endfor%}
    <div class="row ">
        <div class="col-sm-2"></div>
        <div class="col-sm-8 contactus-box">
            <h2 class="text-info">Contact Us</h2>
            <form action="contactus" method="post">
                {% csrf_token %}
                <div class="form-inline">
                    <p class="text-info w25p text-left">Full Name</p>
                    <p class="w100p">{{ form.fullname }}</p>
                </div>
                <div class="form-inline">
                    <p class="text-info w25p text-left">Phone</p>
                    <p class="w100p">{{ form.phone_num }}</p>
                </div>
                <div class="form-inline">
                    <p class="text-info w25p text-left">Email</p>
                    <p class="w100p">{{ form.email }}</p>
                </div>
                <div class="form-inline ">
                    <p class="text-info w25p text-left">Message</p>
                    <p class="w100p">{{ form.message }}</p>
                </div>
                <input class="submit-btn btn btn-info btn-md" type="submit" name="submit">
            </form>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>
{% include 'djlogin/footer.html' %}
