{%load static%}
<html lang="en">

<head>
    <title>Home</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:40%">Project completed=40%</div>
</div>
<div class="row  bg-info footer text-center text-xs-center justify-content-center">
    <div class="col-xs-12 col-sm-4 col-md-4 quick-links">
        <h5>Quick links</h5>
        <ul class="list-unstyled">
            <li><a href="/" class="footer-link">Home</a>
            </li>
            <li><a href="" class="footer-link">About</a>
            </li>
            <li><a href="" class="footer-link">FAQ</a>
            </li>
            <li><a href="" class="footer-link">Get
                Started</a></li>
            <li><a href="" class="footer-link">Videos</a>
            </li>
        </ul>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 quick-links">
        <h5>Useful links</h5>
        <ul class="list-unstyled">
            <li><a href="/" class="footer-link">Home</a>
            </li>
            <li><a href="" class="footer-link">About</a>
            </li>
            <li><a href="" class="footer-link">FAQ</a>
            </li>
            <li><a href="" class="footer-link">Get
                Started</a></li>
            <li><a href="" class="footer-link">Videos</a>
            </li>
        </ul>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 quick-links">
        <h5>Our Address</h5>
        <p class="footer-link">H-24, 123/543</p>
        <p class="footer-link">JABEDEWHUIJSD</p>
        <p class="footer-link">United States</p>
        <p class="footer-link">Pin: 90001</p>
        <p class="footer-link">Indresh Maurya</p>
    </div>
</div>
<p class="copyright desc bg-info text-center">Copyright © 2021 djlogin.com All Rights Reserved.</p>
</body>

</html>