{% extends 'dashboard/base.html' %}
{% block content %}
<title>Add Project</title>
<div class="container pt-3 pb-3">
    <div class="row justify-content-center">
        <div class="col-sm-8 col-12 card shadow-lg border-0 rounded-lg mt-5 profile-box">
            <h2 class="text-info text-center pt-2">Add Project</h2>
            <div class="form-group">
                <form action="addproject" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.media}}
                    {{ form.as_p}}
                    <br><input class="btn-right btn btn-info btn-md" type="submit" name="submit" value="Add Project">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}