{% extends 'dashboard/base.html' %}
{% block content %}
{%for message in messages%}
<div class="message alert alert-success alert-dismissible fade show" role="alert">
    <strong>{{ message}}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{%endfor%}
<div class="container pt-3 pb-3">
    <div class="row">
        {% if category.status == 1 %}
        <div class="col-9">
            <p>Status: <span class="bg-warning p-1">Pending</span></p>
        </div>
        <div class="col-1">
            <form action="/publishc/{{category.id}}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn-right btn btn-success">Publish</button>
            </form>
        </div>
        {% elif category.status == 2 %}
        <div class="col-9">
            <p>Status: <span class="bg-success p-1">Published</span></p>
        </div>
        <div class="col-1">
            <form action="/unpublishc/{{category.id}}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn-right btn btn-danger">Unublish</button>
            </form>
        </div>
        {% else %}
        <div class="col-9">
            <p>Status: <span class="bg-danger p-1">Unpublished</span></p>
        </div>
        <div class="col-1">
            <form action="/publishc/{{category.id}}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn-right btn btn-success">Publish</button>
            </form>
        </div>
        {% endif %}
        <div class="col-1">
            {% csrf_token %}
            <a type="submit" class="btn-right btn btn-warning" href="/dashboard/editcategory/{{category.id}}">Edit</a>
        </div>
        <div class="col-1">
            {% csrf_token %}
            <form action="/deletec/{{category.id}}">
                <button type="submit" class="btn-right btn btn-danger" onclick="return confirm('Permanently Delete this category?')">Delete</button>
            </form>
        </div>
    </div>
    <div class="row category-wrapper">
        <div class="col-sm-6 col-12">
            <img class="cat-img" src="{{category.Category_Image.url}}" alt="Category image">
        </div>
        <div class="col-sm-6 col-12">
            <h2 class="card-title">{{category.Category_Name}}</h2>
            <p class="card-text">{{category.Category_Description}}</p>
        </div>
    </div>
</div>
{% endblock %}